@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", serif;
  }
  li {
    list-style: none;
  }
  input {
    @apply bg-[#f2f3f4] outline-none px-4 py-2 rounded-sm;
  }
  .container {
    @apply max-w-[600px] text-[#080025] bg-[#fefdf2] dark:bg-[#080025] dark:text-[#F7F5FF] rounded-md p-4 mx-auto;
  }
  .btn {
    @apply px-4 py-2 
    rounded hover:scale-105 transition-all duration-500 active:scale-95;
  }

  /* Scroll */
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  .list::-webkit-scrollbar {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(66, 245, 141) rgb(66, 245, 141);
  }
  .list::-webkit-scrollbar {
    @apply w-1 hidden;
  }
  .list::-webkit-scrollbar-track {
    @apply bg-slate-700;
  }
  .list::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-tr from-blue-500 to-green-500 via-teal-500;
  }
}
